page-login {
p{
  color:white;
}
  html, body, .ion-app, .ion-content {
    background-color: transparent;
  }

  .square {
    height: 35%;
    text-align: center;
    padding: 70px 0;
    font-size: 36px;
    font-family: "Calibri Light";
    color: white;
    text-shadow: 1px 1px black;
  }

  .set-background {
    background-color: #15B2A2;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .icon {
    font-size: 15px;
  }

  .anmelde-btn {
    color: white;
    font-family:"Calibri";
    box-shadow: none;
  }

  .set-transparency {
    background-color: transparent;
    color: white;
  }

  .input {
    input::placeholder {
      color:white;
    }
  }

  .item {
    padding-left: 30px;
    border-left: none;
    border-right: none;
  }
  ion-icon{
    color: white;
  }

  #border {
    border-top: 1px solid white;
    border-bottom: none;
  }

  #border1 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }



}

