page-login {
p{
  color:white;
}
  html, body, .ion-app, .ion-content {
    background-color: transparent;
  }

  .square {
    position: relative;
    height: 35%;
    width: 100%;
    background: white;
  }

  .main-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .top-container {
    height: 70%;
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #15B2A2;
    text-shadow: 1px 1px gray;
    padding-top: 25%;
    font-family: "Merriweather Sans";
  }

  .bottom-container {
    position: relative;
    height: 30%;
    width: 100%;
  }

  /* Container für Info Text */

  .info-text1 {
    position: absolute;
    height: 50%;
    width: 100%;
  }

  .info-text2 {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
  }

  /* Eigentlicher Info Text */

  .info-text {
    color: #404040;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.0em;
  }

  /* Hintergrundfarbe */

  .set-background {
    background-color: white;
  }

  /* Body */

  .body {
    margin-top: 5%;
    position: relative;
    width: 100%;
    height: 60%;
  }

  .body-top {
    height: 30%;
    width: 100%;
  }

  /* Input Felder */

  /* Icon in Input */

  ion-icon{
    color: #15B2A2;
    font-size: 1.5em;
  }

  /* set border of input label */

  #border {
    border-top: 1px solid #15B2A2;
    border-bottom: none;
  }

  #border1 {
    border-top: 1px solid #15B2A2;
    border-bottom: 1px solid #15B2A2;
  }

  /*
  ion-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  ion-item:last-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  } */

  ion-item.item {
    text-align: center;
    /* border-radius: 100px; */
    padding-left: 10%;
    background-color: rgba(255, 255, 255, 0.4);
    .label {
      width: 10%;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  /* Set color of placeholder text */

  .input {
    input::placeholder {
      color: #404040;
      font-family: "Open Sans";
      font-size: 1.0em;
    }
  }

  /* Set color of text when typing */

  .text-color {
    color: #404040;
    font-family: "Open Sans";
  }

  /* Login Button */

  .body-bottom {
    height: 70%;
    width: 100%;
  }

  .anmelde-btn {
    color: white;
    font-family:"Open Sans";
    box-shadow: none;
    background-color: #15B2A2;
  }

  .coloring {
    color: #15B2A2;
    font-size: 1.0em;
    font-family: "Open Sans";
    text-decoration: underline;
    text-decoration-color: #15B2A2;

  }


}

