page-activity {

  /* Header-Bar with Buttons */

  .color-header {
    background: #15B2A2;
  }

  .back-button {
    color: white !important;
  }
  .color-btn-header {
    color: white;
  }

  .logout-btn {
    float: right;
    color: white;
    background: #FFB623;
    box-shadow: 2px 2px 5px gray;
  }

  .fixed-header-btn {
    float: right;
    color: white;
    background: #FFB623;
    box-shadow: 2px 2px 5px gray;
    border-radius: 100px;
    margin-right: 1%;
  }

  /* Header-Logo */

  .square {
    position: relative;
    height: 30%;
    width: 100%;
    background: #15B2A2;
    margin-bottom: 15%;
  }

  .main-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .top-container {
    position: relative;
    height: 90%;
    width: 100%;
    padding: 15%;
    text-align: center;
    font-size: 3.5em;
    color: white;
    text-shadow: 1px 1px black;
  }



  /* Fab-Ion */

  .bottom-container {
    position: relative;
    height: 10%;
    width: 100%;
  }

  .fab {
    color: white;
    background: #FFB623;
    width: 3.5em;
    height: 3.5em;
  }

  .shadow {
    box-shadow: 2px 2px 5px gray;
  }


  /* ... */

  .left-half {
    grid-column: 1;
  }

  .right-half {
    grid-column: 2;
  }
  .cl-open {
    color: darkorange;
  }
  .cl-closed {
    color: green;
  }
  .container {
    display: grid;
    width: 100%;
  }
  .listEntry{
    width: 100%;
    height: 100%;
  }
  .actList{
    //grid-column: 2;
    width: 85%;
    height: 100%;
    float: right;
  }
  .symbol{
    width: 15%;
    height: 100%;
    float: left;
    padding: 9% 6% 9% 0%;
  }
  .actOpen{
    margin: auto;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background: gold;
  }
  .actPaid{
    margin: auto;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background: green;
  }
  .actDenied{
    margin: auto;
    float: left;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background: red;
  }
}
