page-activity {

  /* Header-Bar with Buttons */

  .color-header {
    background: #15B2A2;
  }

  .back-button {
    color: white !important;
  }
  .color-btn-header {
    color: white;
  }

  .logout-btn {
    float: right;
    color: white;
    background: #FFB623;
    box-shadow: 2px 2px 5px gray;
  }

  .fixed-header-btn {
    float: right;
    color: white;
    background: #FFB623;
    box-shadow: 2px 2px 5px gray;
    border-radius: 100px;
    margin-right: 1%;
  }

  /* Background-color */

  .set-background {
    background-color: white;
  }

  /* Split Content in 2 */

  .split-content {
    height: 100%;
    width: 100%;
  }

  /* Top Content */

  .top-content {
    height: 30%;
    width: 100%;
    background: #15B2A2;
  }

  /* Top of Top Content */

  .top-top {
    height: 90%;
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 20%;
  }

  /* Bottom of Top Content */

  .top-bottom {
    height: 10%;
    width: 100%;
  }

  /* Fab-Ion */

  .fab {
    color: white;
    background: #FFB623;
    width: 3.5em;
    height: 3.5em;
  }

  .shadow {
    box-shadow: 2px 2px 5px gray;
  }

  /* Bottom Content */

  .bottom-content {
    height: 70%;
    width: 100%;
    padding-top: 10%;
  }


  /* ... */

  .left-half {
    grid-column: 1;
  }

  .right-half {
    grid-column: 2;
  }
  .cl-open {
    color: darkorange;
  }
  .cl-closed {
    color: green;
  }
  .container {
    display: grid;
    width: 100%;
  }
  .listEntry{
    width: 100%;
    height: 100%;
  }
  .actList{
    //grid-column: 2;
    width: 85%;
    height: 100%;
    float: right;
    padding-left: 10%;
    //padding-top: 1em;
  }
  .symbol{
    width: 15%;
    height: 100%;
    float: left;
    padding: 6% 6% 6% 4%;
  }
  .actOpen{
    margin: auto;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    background: gold;
  }
  .actPaid{
    margin: auto;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    background: #0f8561;
  }
  .actDenied{
    margin: auto;
    float: left;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    background: #aa0000;
  }

  .navbar{
    width: 99%;
  }
  .card-ios {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .card-md{
    border-radius: 14px;
    background-color: rgba(21, 178, 162, 0.02);
    p{
      color: #404040;
      span{
        color: #15B2A2;
        font-weight: bold;
      }
    }
  }
  .segment-md .segment-button.segment-activated {
    //background-color: #15B2A2;
    border-color: #15B2A2;
    border-width: 4px;
    span{
      color: #15B2A2;
      font-size: 0.85em;
    }
  }
  .segment-md .segment-button{
    color: #404040;
    font-size: 0.85em;
    border-width: 4px;
  }

  .input-wrapper{
    color: #404040;
    font-size: 1.4rem;
  }

  .click-button {
    :active {
      background-color: white;
      color: #FFB623;
    }
  }


}
