page-profile {

  hr{
    margin:0px;
  }
  .square {
    position: relative;
    text-align: center;
    padding: 10%;
    margin-bottom: 10%;
    font-size: 40px;
    font-family: "Calibri Light";
    color: white;
    background: #15B2A2;
    text-shadow: 1px 1px black;
    width: 100%;
  }
  .color-header {
    background: #15B2A2;
  }

  .color-btn-header {
    color: white;
  }
  ion-icon{
    color:#424242;
    font-size: 1em;
    float: right;
  }

  p{
    text-align: justify;
    font-size:14px;
    color:#424242;
  }
  .form{
    padding: 1em;
  }
}


