<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Registrierung
    </ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content padding id="page7" class="set-background">

  <div class="square">Registrierung</div>

  <div [formGroup]="myForm">
    <ion-list id="signup-list3">
      <ion-item>
        <ion-label>
          <ion-icon name="md-mail"></ion-icon>
        </ion-label>
        <ion-input formControlName="email" type="email" placeholder="E-Mail" name="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="!myForm.controls.email.valid  && (myForm.controls.email.dirty || submitAttempt)">
        <p>Bitte korrekte E-Mail-Adresse eingeben.</p>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-icon name="md-barcode"></ion-icon>
        </ion-label>
        <ion-input formControlName="token" type="token" placeholder="Token" name="token"></ion-input>
      </ion-item>
      <ion-item *ngIf="!myForm.controls.token.valid  && (myForm.controls.token.dirty || submitAttempt)">
        <p>Mindestens 6 Zeichen.</p>
      </ion-item>
      <ion-item>
        <ion-label >
          <ion-icon name="md-lock"></ion-icon>
        </ion-label>
        <ion-input formControlName="password" type="password" placeholder="Passwort"  name="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="!myForm.controls.password.valid  && (myForm.controls.password.dirty || submitAttempt)">
        <p>Mindestens 6 Buchstaben.</p>
      </ion-item>
    </ion-list>
  </div>
  <div style="text-align:center">
    <button ion-button round icon="checkmark" (click)="activateUser()">Jetzt registrieren!</button>
  </div>


  <button id="signup-button6" ion-button style="text-decoration:underline; color:white" clear color="positive" block on-click="goToLogin()">
    <ion-icon name="arrow-back"></ion-icon>
    Zurück zum Login
  </button>



</ion-content>
