page-registration {
  p {
    color: white;
  }

  .title {
    font-family: "Avenir Next";
  }
  .validatortxt{
    border:none;
  }
  .square {
    height: 35%;
    text-align: center;
    padding: 70px 0;
    font-size: 36px;
    font-family: "Calibri Light";
    color: white;
    text-shadow: 1px 1px black;
  }

  .set-background {
    background-image: url('../assets/imgs/bluewater.JPG');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .set-transparency {
    background-color: transparent;
    color: white;
  }

  .item {
    padding-left: 30px;
    border-left: none;
    border-right: none;
  }

  .input {
    input::placeholder {
      color:white;
    }
  }

  .input-md {
    padding-right: 15%;
  }

  ion-icon{
    color:white;
  }

  .button {
    box-shadow: none;
  }

  #border {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  #border1 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .padding-icon {
    padding-left: 10%;
  }


}
