page-registration {
  p {
    color: white;
  }

  .validatortxt{
    border:none;
  }

  /* Hintergrundfarbe */

  .set-background {
    background-color: white;
  }


  /* Header */

  .square {
    position: relative;
    height: 35%;
    width: 100%;
    background: white;
  }

  .main-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .top-container {
    height: 50%;
    width: 100%;
    text-align: center;
    font-size: 3.0em;
    color: #15B2A2;
    text-shadow: 1px 1px gray;
    padding-top: 20%;
    font-family: "Merriweather Sans";
  }

  .bottom-container {
    top: 50%;
    position: relative;
    height: 50%;
    width: 100%;
  }

  /* Container für Info Text */

  .info-text1 {
    position: absolute;
    height: 33%;
    width: 100%;
  }

  .info-text2 {
    position: absolute;
    top: 33%;
    height: 33%;
    width: 100%;
  }

  .info-text3 {
    position: absolute;
    top: 66%;
    height: 33%;
    width: 100%;
  }

  .info-text {
    color: #404040;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.0em;
  }


  /* Body */

  .body {
    margin-top: 5%;
    position: relative;
    width: 100%;
    height: 60%;
  }

  .body-top {
    position: absolute;
    height: 40%;
    width: 100%;
  }

  /* Input Felder */

  /* Icon in Input */

  ion-icon{
    color: #15B2A2;
    font-size: 1.5em;
  }

  /* set border of input label */

  #border {
    border-top: 1px solid #15B2A2;
    border-bottom: 1px solid #15B2A2;
  }

  #border1 {
    border-top: 1px solid #15B2A2;
    border-bottom: 1px solid #15B2A2;
  }

  ion-item.item {
    text-align: center;
    /* border-radius: 100px; */
    padding-left: 10%;
    background-color: rgba(255, 255, 255, 0.4);
    .label {
      width: 10%;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  /* Set color of placeholder text */

  .input {
    input::placeholder {
      color: #404040;
      font-family: "Open Sans";
      font-size: 1.0em;
    }
  }

  /* Set color of text when typing */

  .text-color {
    color: #404040;
    font-family: "Open Sans";
  }





  /* Register Button */

  .body-bottom {
    position: absolute;
    top: 40%;
    height: 60%;
    width: 100%;
  }

  .register-btn {
    color: white;
    font-family:"Open Sans";
    box-shadow: none;
    background-color: #15B2A2;
  }

  .coloring {
    color: #15B2A2;
    font-size: 1.0em;
    font-family: "Open Sans";
    text-decoration: underline;
    text-decoration-color: #15B2A2;
  }

  .arrow-login {
    color: #15B2A2;
    padding-right: 5%;
  }







}
