<ion-header>
  <ion-navbar transparent hideBackButton></ion-navbar>
</ion-header>


<ion-content id="page7" class="set-background">

  <div class="square">
    <div class="main-container">
      <div class="top-container">Registrierung</div>
    </div>
    <div class="bottom-container">
      <!-- InfoText hier-->
        <p class="info-text"> {{nachricht}}</p>
    </div>
  </div>




  <!-- Input Felder -->

  <div class="body">

    <div class="body-top">

  <div [formGroup]="myForm">

    <ion-list id="signup-list3">

      <ion-item id="border" class="text-color">

        <ion-label>
          <ion-icon name="md-mail"></ion-icon>
        </ion-label>

        <ion-input formControlName="email" type="email" placeholder="E-Mail" name="email">
        </ion-input>

        <button clear ion-button item-right (click)="message(1)">
          <ion-icon name="information-circle"></ion-icon>
        </button>

      </ion-item>

        <p *ngIf="!myForm.controls.email.valid  && (myForm.controls.email.dirty || submitAttempt)"><ion-icon name="alert"></ion-icon> Bitte korrekte E-Mail-Adresse eingeben.</p>


      <ion-item id="border1" class="text-color">

        <ion-label>
          <ion-icon name="md-barcode"></ion-icon>
        </ion-label>

        <ion-input formControlName="token" type="token" placeholder="Token" name="token"></ion-input>

        <button clear ion-button item-right (click)="message(2)">
          <ion-icon name="information-circle"></ion-icon>
        </button>

      </ion-item>

        <p *ngIf="!myForm.controls.token.valid  && (myForm.controls.token.dirty || submitAttempt)"><ion-icon name="alert"></ion-icon> Mindestens 6 Zeichen.</p>

      <ion-item id="border2" class="text-color">

        <ion-label >
          <ion-icon name="md-lock"></ion-icon>
        </ion-label>

        <ion-input formControlName="password" type="password" placeholder="Passwort"  name="password"></ion-input>

        <button clear ion-button item-right (click)="message(3)">
          <ion-icon name="information-circle"></ion-icon>
        </button>

      </ion-item>

        <p *ngIf="!myForm.controls.password.valid  && (myForm.controls.password.dirty || submitAttempt)"><ion-icon name="alert"></ion-icon> Mindestens 6 Buchstaben.</p>

    </ion-list>

  </div>

    </div>

    <div class="body-bottom">

      <!-- Register-Button -->

  <div style="text-align:center">
    <button round class="register-btn" ion-button icon="checkmark" (click)="activateUser()">Jetzt registrieren!</button>
  </div>


  <button id="signup-button6" ion-button style="text-decoration:underline; color:white" clear color="positive" block on-click="goToLogin()">
    <div class="coloring">Zurück zum Login</div>
  </button>

    </div>


    </div>



</ion-content>
