page-contact {

  .color-header {
    background: #15B2A2;
  }

  .color-btn-header {
    color: white;
  }

  .square {
    position: relative;
    text-align: center;
    padding: 10%;
    font-size: 40px;
    font-family: "Calibri Light";
    color: white;
    background: #15B2A2;
    text-shadow: 1px 1px black;
    width: 100%;
  }

  .shadow {
    box-shadow: 2px 2px 5px lightgray;
  }

  .fab {
    color: white;
    background: #FFB623;
    width: 3.5em;
    height: 3.5em;
  }

  .fab-in-list {
    margin: 8px 0;
    width: 2.2em;
    height: 2.2em;
  }

  .fab ion-icon {
    font-size: 1.3em;
  }

  .position {
    position: absolute;
    size: 50px;
    right: 0;
  }

  .button-align {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    width: 50%;
    height: 10%;
    font-size: 120%;
  }

  .info {
    height: 43%;
    margin-bottom: 10%;
    margin-top: 20%;
    font-size: 14px;
    font-family: "Calibri Light";
    color: #404040;
    padding-left: 11%;
  }

  .title {
    font-size: 16px;
    font-family: "Calibri";
    color: #15B2A2;
    text-transform: uppercase;
  }

}
