page-contact {

  /* Header-Bar */

  .color-header {
    background: #15B2A2;
  }
  .back-button {
    color: white !important;
  }

  .color-btn-header {
    color: white;
  }

  /* Header */

  .square {
    position: relative;
    height: 30%;
    width: 100%;
    background: #15B2A2;
  }

  .main-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .top-container {
    position: relative;
    height: 90%;
    width: 100%;
    padding: 15%;
    text-align: center;
    font-size: 3.5em;
    color: white;
    text-shadow: 1px 1px black;
  }

  /* Fab-Ion */

  .bottom-container {
    position: relative;
    height: 10%;
    width: 100%;
  }

  .fab {
    color: white;
    background: #FFB623;
    width: 3.5em;
    height: 3.5em;
  }

  .fab-in-list {
    margin: 8px 0;
    width: 2.2em;
    height: 2.2em;
  }

  .fab ion-icon {
    font-size: 1.3em;
  }

  .shadow {
    box-shadow: 2px 2px 5px lightgray;
  }


  /* Body */

  .button-align {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    margin-top: 15%;
    width: 50%;
    height: 10%;
    font-size: 120%;
  }

  .info {
    height: 43%;
    margin-bottom: 10%;
    margin-top: 20%;
    font-size: 14px;
    font-family: "Calibri Light";
    color: #404040;
    padding-left: 11%;
  }

  .title {
    font-size: 16px;
    font-family: "Calibri";
    color: #15B2A2;
    text-transform: uppercase;
  }

}
