page-home {

  .cstmz-padding {
    padding-top: 22%;
    height: 100%;
  }

  .content {
    background: white;
  }

  .square {
    height: 35%;
    text-align: center;
    padding: 70px 0;
    margin-bottom: 10%;
    font-size: 30px;
    font-family: "Calibri Light";
    color: red;
    text-shadow: 1px 1px black;
    border: 1px solid blue;
  }

  /*buttons */

  .fab {
    color: #0099e6;
  }

  .wrapper {
    position: relative;
    height: 55%;
    width: 100%;
  }

    .left-container {
      position: absolute;
      width: 50%;
      height: 100%;
    }

    .right-container {
      position: absolute;
      margin-left: 50%;
      width: 50%;
      height: 100%;
    }


      .btn-size {
        position: relative;
        height: 50%;
        width: 100%;
        border: 3px solid white;
        background: #15B2A2;
      }

        .cstmz-btn {
          position: absolute;
          height: 100%;
          width: 100%;
          color: white;
        }

          .place-icon {
            position: absolute;
            padding-bottom: 50px;
            font-size: 4.5em;
          }

          .place-title {
            position: absolute;
            font-size: 1.5em;
            padding-top: 55px;
          }

          .place-icon2 {
            position: absolute;
            padding-bottom: 50px;
            font-size: 4.0em;
          }






}




