page-home {

  .title {
    font-family: "Avenir Next";
  }

  .cstmz-padding {
    padding-top: 75px;
  }


  .btn-size {
    height: 135px;
    margin-bottom: 1px;
    background-color: #1ab2ff;
    border: none;
  }

  .button-bg-pg {

    button {
      position: relative;
      text-align: center;
    }

    .button-icon {
      position: absolute;
      top: 17%;
      font-size: 3.5em;
      width: 100%;
      font-weight: bold;
      color: white;
    }

    .button-title {
      font-size: 1.2em;
      font-family: "Avenir";
      position: absolute;
      top: 60%;
      width: 100%;
      color: white;
    }

  }

  .fab {
    color: #0099e6;
  }


}


