<ion-header class="color-header">
  <ion-navbar  class="back-button" transparent>

    <button class="logout-btn" (click)="logout()" round ion-button>
      <ion-icon name="power"></ion-icon>
    </button>
    <button class="fixed-header-btn" (click)="goToImpressum()" ion-button>
      <ion-icon name="information-circle"></ion-icon>
    </button>
    <button class="fixed-header-btn" ion-button>
      <ion-icon name="settings"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="hisRefresh($event)">
    <ion-refresher-content pullingText="arrow-dropdown"
                           pullingText="Aktualisieren"
                           refreshingSpinner="circles"
                           refreshingText="wird aktualisiert...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-card>
    <ion-card-header *ngFor="let historyHeader of historyHeader">
      Ticket-ID: {{ticketID}}
      <br>
      <p>Erstellt am: {{historyHeader.submitDate | date: 'dd.MM.yyyy'}}
        <br>
        Abgeschlossen am: {{historyHeader.endDate | date: 'dd.MM.yyyy'}}
        <br>
        Rechungsbetrag: {{historyHeader.refund | number: '1.2-2': 'de' }}
      </p>
    </ion-card-header>
    <ion-card-content *ngFor="let historyHeader of historyHeader">
        <ion-item>
            <ion-thumbnail item-start (click)="showPhoto(historyHeader.imgFile)">
              <img src="{{historyHeader.imgFile}}" imageViewer/>
            </ion-thumbnail>
          <p>
            RechungsID: {{historyHeader.invoiceID}}
          </p>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let history of history" class={{history.cardClass}} >


    <ion-card-header>
     <!-- <img src="{{ history.body }}"> -->
  <div [innerHtml]=history.head></div>
    </ion-card-header>


    <ion-card-content>
      <div [innerHtml]=history.body></div>
    </ion-card-content>
  </ion-card>


  <!-- timeline testing -->


  <div class="container">
    <h1 class="project-name">Bearbeitungs-ID {{ticketID}}</h1>

    <div id="timeline">
      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <h2>LOREM IPSUM DOLOR</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
          </p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">

        </div>
        <div class="timeline-content right">
          <h2>LOREM IPSUM DOLOR</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
          </p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">

        </div>
        <div class="timeline-content">
          <h2>LOREM IPSUM DOLOR</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
          </p>
        </div>
      </div>
    </div>
  </div>



</ion-content>
