page-history {

  .color-header {
    background: #15B2A2;
  }

  .back-button {
    color: white !important;
    font-family: "Open Sans";
  }
  .color-btn-header {
    color: white;
  }

  .logout-btn {
    float: right;
    color: white;
    background: #FFB623;
    box-shadow: 2px 2px 5px gray;
  }

  .fixed-header-btn {
    float: right;
    color: white;
    background: #FFB623;
    box-shadow: 2px 2px 5px gray;
    border-radius: 100px;
    margin-right: 1%;
  }

  /* Ticket Card */

  .customize-card {
    font-family: "Open Sans";
    color: #404040;
  }

  .border {
    border: 1px solid #FFB623;
  }



  /* Statuskarten
  .card-closed {
    background-color: #dddddd;
    border: 2px solid #aaaaaa;
    border-radius: 35px;
    margin-bottom: 10px;
  }

  .card-open {
    border: 2px solid #aaaaaa;
    border-radius: 35px;
    margin-bottom: 10px;
  } */

  /* Variables */

  $yellow: #FFB623;
  $green: #15B2A2;
  $grey: #404040;

  // Mixins and Placeholders
  %clearfix {
    &:after, &:before {
      content: '';
      display: block;
      width: 100%;
      clear: both;
    }
  }

  @mixin prefix($prop, $val) {
    @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
      #{$prefix}#{$prop}: $val;
    }
  }
  *, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .container {
    max-width: 1100px;
    margin: 0 auto;
  }

  h1, h2 {
    font: {
      family: "Merriweather Sans";
      weight: 300;
    }
  }

  h1 {
    color: $green;
  }

  .project-name {
    text-align: center;
    padding: 10px 0;
  }

  // Timeline
  #timeline {
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 10px;
    @include prefix(transition, all .4s ease);

    &:before {
      content: "";
      width: 3px;
      height: 100%;
      background: $grey;
      left: 50%;
      top: 0;
      position: absolute;
    }

    &:after {
      content: "";
      clear: both;
      display: table;
      width: 100%;
    }

    .timeline-item {
      margin-bottom: 50px;
      position: relative;
      @extend %clearfix;

      .timeline-icon {
        /* color change depending on status */
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 50%;
        overflow: hidden;
        margin-left: -23px;
        border: 3px solid $yellow;
        @include prefix(border-radius, 50%);
      }

      .timeline-content {
        width: 45%;
        background: white;
        padding: 25px;
        font-family: "Open Sans";
        font-color: $grey;
        @include prefix(box-shadow, 0 3px 0 rgba(0, 0, 0, 0.1));
        @include prefix(border-radius, 5px);
        @include prefix(transition, all .3s ease);

        h2 {
          padding: 10px;
          background: $green;
          color: #fff;
          margin: -20px -20px 20px -20px;
          font-weight: 300;
          @include prefix(border-radius, 3px 3px 0 0);
        }

        &:before {
          content: '';
          position: absolute;
          left: 45%;
          top: 20px;
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid $grey;
        }

        &.right {
          float: right;

          &:before {
            content: '';
            right: 45%;
            left: inherit;
            border-left: 0;
            border-right: 7px solid $grey;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    #timeline {
      margin: 25px;
      padding: 0px;
      width: 90%;
      &:before {
        left: 0;
      }

      .timeline-item {
        .timeline-content {
          width: 90%;
          float: right;

          &:before, &.right:before {
            left: 10%;
            margin-left: -6px;
            border-left: 0;
            border-right: 7px solid $grey;
          }
        }

        .timeline-icon {
          left: 0;
        }
      }
    }
  }

  /* circle color */
  .ticket-color-finished {
    background: green;
  }

  .ticket-color-waiting {
    background: #ffeb2d;
  }

  .ticket-color-failed {
    background: red;
  }

  /* view or hide ticket*/
  .ticket-hidden {
    visibility: hidden;
  }

  .ticket-visable{
    /* test animation*/
    animation: 1s fadeIn ;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

}
