<ion-header class="color-header">
  <ion-navbar  class="back-button" transparent>

    <button class="logout-btn" round ion-button>
      <ion-icon name="power"></ion-icon>
    </button>
    <button class="fixed-header-btn" ion-button>
      <ion-icon name="information-circle"></ion-icon>
    </button>
    <button class="fixed-header-btn" ion-button>
      <ion-icon name="settings"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="hisRefresh($event)">
    <ion-refresher-content pullingText="arrow-dropdown"
                           pullingText="Aktualisieren"
                           refreshingSpinner="circles"
                           refreshingText="wird aktualisiert...">
    </ion-refresher-content>
  </ion-refresher>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      Ticket-ID: {{ticketID}}
      <!-- <img src="{{ history.body }}"> -->
    </ion-card-header>
    <ion-card-content *ngFor="let hisStatus of hisStatus">
      <p>Erstellt am: {{hisStatus.submitDate | date: 'dd.MM.yyyy'}}
      <br>
      Abgesclossen am:
      <br><br>
      Rechungsbetrag:
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let history of history " class={{history.cardClass}} >
    <ion-card-header>
     <!-- <img src="{{ history.body }}"> -->
      <div [innerHtml]=history.head></div>
    </ion-card-header>
    <ion-card-content>
      <div [innerHtml]=history.body></div>
    </ion-card-content>
  </ion-card>

</ion-content>
