page-ocr {
  .leftcontainer {
    float: left;
    width:50%;
    text-align: center;
  }

  .rightcontainer {
    float: right;
    width:50%;
    text-align: center;
  }

  #scanFooter{
    height: 61px;
  }
}

.valid-true{
  border: 1px solid transparent;
}

.valid-false{
  border: 1px solid #f00;
}

.toast-message {
  white-space: pre;
}
