page-ocr {

  .customize-header {
    background-color: #15B2A2;
    font-family: "Merriweather Sans";
    text-align: center;
    color: white;
    font-size: 1.5em;
  }

  ion-label{
    color: #15B2A2;
    font-family: "Merriweather Sans";
  }

  .leftcontainer {
    padding: 2px;
    float: left;
    width:50%;
    text-align: center;
  }

  .customize-button {
    font-family: "Open Sans";
    color: white;
    background-color: #15B2A2;
  }

  .item-ios {
    background-color: transparent;
  }


  .rightcontainer {
    padding: 2px;
    float: right;
    width:50%;
    text-align: center;
  }

  .customize-button-right {
    font-family: "Open Sans";
    color: white;
    background-color: #15B2A2;
  }

  #scanFooter{
    height: 61px;
  }



}

.valid-true{
  border: 1px solid transparent;
}

.valid-false{
  border: 2px solid #aa0000;
  border-radius:5px;
}

.toast-message {
  white-space: pre;
}

/*.buttonsdown {
  background-color: #15B2A2;
  border-radius: 64px;
  height: 2.8em;
  padding:0 2.6rem;
  span{
    color: #ffffff;
  }
} */
