page-impressum {

  .color-header {
    background: #15B2A2;
  }



  .square {
    position: relative;
    height: 30%;
    width: 100%;
    background: #15B2A2;
  }

  .main-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .bottom-container {
    position: relative;
    height: 10%;
    width: 100%;
  }

  .top-container {
    position: relative;
    height: 90%;
    width: 100%;
    padding: 15%;
    text-align: center;
    font-size: 3.5em;
    color: white;
    text-shadow: 1px 1px black;
  }

  .back-button {
     color: white !important;
     background: #15B2A2;
   }
  .Impressum{
    color: white !important;
    font-size: 16px;
    font-family: "Calibri";
    color: #15B2A2;
    text-transform: uppercase;

    position: relative;

  }

   .color-btn-header {
    color: white;
  }
  .MeinInhalt{
  height: 43%;
margin-bottom: 10%;
margin-top: 20%;
font-size: 14px;
font-family: "Calibri Light";
color: #404040;
padding-left: 11%;

  }

.Überschrifte{
  font-size: 16px;
  font-family: "Calibri";
  color: #15B2A2;
  text-transform: uppercase;
}

  #blau {
    color: blue;
}





}

