page-preview {

  .leftcontainer {
    float: left;
    width:50%;
    text-align: center;
  }

  .rightcontainer {
    float: right;
    width:50%;
    text-align: center;
  }

  #scanFooter{
    height: 61px;
  }

  .buttonsdown {
    background-color: #15B2A2;
    border-radius: 64px;
    height: 2.8em;
    padding:0 2.6rem;
    span{
      color: #ffffff;
    }}
}
