page-preview {

  .leftcontainer {
    float: left;
    width:50%;
    text-align: center;
  }

  .rightcontainer {
    float: right;
    width:50%;
    text-align: center;
  }

  #scanFooter{
    height: 61px;
  }
}
